* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1170px;
    margin: 0 auto;
}




/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

/* web title styles */
.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    margin-left: 16px;
}

.logo span {
    color: #FF5400;
}

/* menu styles */
.menu {
    display: flex;
    align-items: center;

}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-right: 44px;
}

.menu span li a {
    color: #FF5400;
}

.hamburger {
    display: none;
}

/* banner section styles */
.banner-section {
    border-radius: 16px;
    margin-top: 50px;
}

.banner-container {
    padding: 106px 185px;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}


fieldset {
    display: flex;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

fieldset input,
select,
button {
    width: 174px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

/* primary button styles */
.primary-btn {
    background-color: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* common styles */
.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}


/* popular tours styles */
.popular-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.popular-text {
    margin-right: 50px;
}

/* destination styles */
.destination-text {
    text-align: center;
    margin-bottom: 48px;
}

.img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.img-item img {
    width: 100%;
    height: auto;
}

.img-item h3 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 40%;
    left: 40%;
}

.row-1 {
    display: grid;
    grid-template-columns: 573px 573px;
    gap: 24px;
    margin-bottom: 24px;
}

.row-1 img {
    height: 300px;
}

.row-2 {
    display: grid;
    grid-template-columns: 374px 474px 274px;
    gap: 24px;
    margin-bottom: 24px;
}

.row-3 {
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 24px;
    margin-bottom: 24px;
}

/* why choose us section styles */
.choose-us-section {
    margin-block: 100px;
}

.choose-us-text {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexible-cards {
    display: flex;
    gap: 24px;
}

.card {
    padding: 32px;
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
    border-radius: 16px;
}

#price-card {
    width: 573px;
    margin-top: 24px;
}

/* Newsletter section styles */
.newsletter-section {
    display: flex;
    align-items: center;
}

.newsletter-content {
    margin-right: 24px;
    border: 1px solid #FF5400;
    padding: 40px;
    border-radius: 16px;
}

.newsletter-content input {
    display: block;
    margin-block: 16px;
    width: 393px;
    height: 52px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
}

.newsletter-content>.primary-btn {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

.newsletter-album {
    position: relative;
}

.discount-banner {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
/* bonus section starts */
.black-friday-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 50px;
}
.card-bonus{
    width: 390px 252px;
    text-align: center;
    border: 1px solid yellowgreen;
}
.card-header{
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 5px 80px;
}
.card-header h1 span{
    font-size: 24px;
    font-weight: 800;
}
.card-body h3{
    font-size: 18px;
    font-weight: 400;
}
.card-body h3>span{
    font-size: 24px;
    font-weight: 800;
}
.book-button{
    background-color: yellowgreen;
    margin-bottom: 10px;
}
/* footer styles */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 110px;
    text-align: center;
}

.fa-brands {
    padding: 10px;
}

footer hr {
    width: 872px;
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    margin-block: 50px;
}
/* responsive design for mobile */
@media screen and (max-width:576px) {
    body {
        max-width: 335px;
        text-align: center;
    }

    .section-title {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav {
        align-items: center;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }

    .banner-container {
        padding: 10px;
        text-align: center;
    }

    fieldset {
        flex-direction: column;
        height: 250px;
    }

    fieldset input,
    select,
    button {
        width: 255px;
    }

    .popular-container {
        flex-direction: column;
    }

    .popular-container img {
        width: 95%;
        margin-top: 24px;
        padding-right: 25px;
    }

    .popular-text {
        text-align: left;
    }
    .img-item h3{
        text-align: center;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
    }

    .row-2 {
        display: flex;
        flex-direction: column;
    }

    .row-3 {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
        text-align: left;
    }

    .flexible-cards {
        flex-direction: column;
    }

    #price-card {
        width: 269px;
        text-align: left;
    }

    .newsletter-section {
        flex-direction: column;
    }

    .newsletter-content {
        text-align: left;
        margin-bottom: 16px;
        padding: 20px;
    }

    .newsletter-content input {
        width: 288px;
    }

    .newsletter-content>.primary-btn {
        width: 288px;
    }

    .newsletter-img {
        width: 335px;
    }

    .discount-banner {
        width: 214px;
    }
    footer hr{
        width: 335px;
    }
    .book-button{
        width: 50%;
    }
}